body {
  margin: 0;
}

.coming-soon{
  margin-top: 3em;
  font-size: 1em;
  font-family: Quicksand, Helvetica, sans-serif;
}

.coming-soon-title{
  color: #333333;
  font-weight: bold;
}

.coming-soon-item{
  color: #AAAAAA;
  font-style: italic;
}

.home-form{
	width: 100%;
	padding-top: 20vh;
  margin: 0;
}

#content {
  width: 80vw;
  max-width: 750px;
  text-align: left;
  margin: auto;
}

#home-title{
	font-size: 4em;
	font-family: Fredoka One, Helvetica Neue, sans-serif;
  margin-top: 20vh;
  margin-bottom: 5vh;
}

.feedback {
  font: 400 15px/22px 'Quicksand', 'Helvetica Neue', Sans-serif;
  font-size: 1.2em;
  color: inherit;
  padding-top: 3em;
  padding-bottom: 4em;
  width: 100%;
}

.message {
  font-family: 'Comfortaa', sans-serif;
  font-weight: 400;
  font-size: 20px;
  font-style: italic;
  color: rgb(202, 202, 202);
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
  font-family: Quicksand, Helvetica, sans-serif;
}

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px;
  font-size: 1.5em;
  border: none;
  cursor: pointer;
  min-width: 300px;
  font-family: Roboto, Helvetica, sans-serif;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 100%;
  font-size: 1em;
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
  z-index: 20;
}

.dropdown-item {
  
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  border-bottom: 1px solid #dddddd;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}