body {
  margin: 0;
  padding: 0;
  background-color: rgb(199, 189, 177);
}
.mapboxgl-map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  opacity: 0;
}

.mapboxgl-popup {
}

.mapboxgl-popup-close-button {
  display: none;
}

.mapboxgl-popup-content {
  font: 400 15px/22px 'Source Sans Pro', 'Helvetica Neue', Sans-serif;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  border-width: 1px;
  border-color: rgb(246, 255, 254);
  border-style: solid;
  border-radius: 10px;
}

.mapboxgl-popup-content p {
	margin: 0;
}

.mapboxgl-popup-content-wrapper {
  padding: 1%;
}

.popup-images {
  border-radius: 5px;
  width: 150px;
  height: 150px;
  background-color: rgb(204, 203, 196);
}

.thumbnail {
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: 5px;
}

.column {
  margin: 10px;
}

#address {
	font-size: 1.5em;
	color: inherit;
	text-decoration: underline;
	display: block;
	margin-block-end: 0.5em;
}

.start {
  margin-top: 1em;
}

.price {
  margin-top: 0.5em;
}

.price .icon{
  opacity: 0.6 !important;
}

.price span{
	color: #808080;
	font-size: 1.3em;
}

.popup-description .icon {
  opacity: 0.4;
  width: 1.2em;
  display: inline-block;
  margin-right: 0.5em;
  vertical-align: text-bottom;
}

.popup-description .label-unmarked {
  margin-top: 1em;
  width: 4em;
  height: 1.5em;
  background-color: rgb(148, 112, 219);
  border: 1px solid black;
  border-radius: 2em;
}

.popup-description .label-marked {
  margin-top: 1em;
  width: 4em;
  height: 1.5em;
  background-color: #DF8181;
  border: 1px solid black;
  border-radius: 2em;
}

.start span{
	color: #808080;
	font-size: 1.2em;
}